
<section>
    <div class="stats-display">
        {{log data.data.abilities}}

        {{#each data.data.abilities as |stat id|}}
        {{log stat}}
        {{log id}}
        {{log stat.value}}
        {{log stat.primary}}
            <div class="stat {{#if stat.primary}}primary-stat{{/if}}">
                
                <label class="stat-name">
                    {{localize (val id)}}
                </label>
                
                <div class="stat-value">
                    <input type="text" name="data.{{id}}" value="{{stat.value}}" data-dtype="Number" />
                    
                </div>
                <div class="focuses">
                    {{#each data.data.attributes.focuses as |focus id|}}

                </div> 
                
            </div>
        {{/each}}

        
    </div>
</section>
