
<section>
    <div class="stats-display">
        {{log "FAGE || in stat sheet"}}
        {{log "FAGE || abilities" data.abilities}}

        {{#each data.abilities as |stat id|}}
        
            <div class="stat {{#if stat.primary}}primary-stat{{/if}}">
                
                <label class="stat-name">
                    {{localize (val id)}}
                </label>
                
                <div class="stat-value">
                    <input type="text" name="data.abilities.{{id}}.value" value="{{stat.value}}" data-dtype="Number" />
                    
                </div>
                 <div class="focuses" id="{{id}}.focuses">
                {{#each ../focuses as |focus|}}
                
                {{#if (compare focus.data.stat id) }}
                    {{log "from stats sheet " focus}}
                    <span class="actor-item focus" data-item-id="{{focus._id}}" title="{{localize "fage.sheet.editItem"}}">{{focus.name}}</span>
                    {{log "focus" focus._id}}

                {{/if}}
                {{/each}}

                </div>
                
            </div>
        {{/each}}
        

        
    </div>
</section>
