<div class="stats-display">
    <div class="stat">
        <div class="stat-name">
            {{localize fage.stats.acc}}
        </div>
        <div class="stat-value">
            <input type="text" name="data.acc" value="{{data.data.acc}}" data-dtype="Number" />
        </div>
    </div>
    <div class="focuses">

    </div>
    <div class="stat">
        <div class="stat-name">
            {{localize fage.stats.comm}}
        </div>
        <div class="stat-value">
            <input type="text" name="data.acc" value="{{data.data.comm}}" data-dtype="Number" />
        </div>
    </div>
    <div class="focuses">

    </div><div class="stat">
        <div class="stat-name">
            {{localize fage.stats.con}}
        </div>
        <div class="stat-value">
            <input type="text" name="data.acc" value="{{data.data.con}}" data-dtype="Number" />
        </div>
    </div>
    <div class="focuses">

    </div><div class="stat">
        <div class="stat-name">
            {{localize fage.stats.dex}}
        </div>
        <div class="stat-value">
            <input type="text" name="data.acc" value="{{data.data.dex}}" data-dtype="Number" />
        </div>
    </div>
    <div class="focuses">

    </div><div class="stat">
        <div class="stat-name">
            {{localize fage.stats.fyt}}
        </div>
        <div class="stat-value">
            <input type="text" name="data.acc" value="{{data.data.fyt}}" data-dtype="Number" />
        </div>
    </div>
    <div class="focuses">

    </div><div class="stat">
        <div class="stat-name">
            {{localize fage.stats.int}}
        </div>
        <div class="stat-value">
            <input type="text" name="data.acc" value="{{data.data.int}}" data-dtype="Number" />
        </div>
    </div>
    <div class="focuses">

    </div><div class="stat">
        <div class="stat-name">
            {{localize fage.stats.per}}
        </div>
        <div class="stat-value">
            <input type="text" name="data.acc" value="{{data.data.per}}" data-dtype="Number" />
        </div>
    </div>
    <div class="focuses">

    </div><div class="stat">
        <div class="stat-name">
            {{localize fage.stats.str}}
        </div>
        <div class="stat-value">
            <input type="text" name="data.acc" value="{{data.data.str}}" data-dtype="Number" />
        </div>
    </div>
    <div class="focuses">

    </div><div class="stat">
        <div class="stat-name">
            {{localize fage.stats.wis}}
        </div>
        <div class="stat-value">
            <input type="text" name="data.acc" value="{{data.data.wis}}" data-dtype="Number" />
        </div>
    </div>
    <div class="focuses">

    </div>
</div>
